.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 90%;
  z-index: 12;
  opacity: 0;
  transition: opacity 1.3s ease;
}
.overlay-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-overlay-color);
    z-index: 12;
}
#myModal {
  display: none;
  opacity: 0;
  transition: opacity 0.5s;
}
.modal.show {
  display: block;
  opacity: 1;
}
.modal .container .row:nth-child(1) {
  border-bottom: solid 1px var(--gray-color);
}
.modal .container .row .text:nth-child(1) {
  border-right: solid 1px var(--gray-color);
}
.modal-content {
  background-color: var(--dark-color);
  margin: auto;
  border: 1px solid var(--gray-color);
  max-height: 100%;
  overflow-y: auto;
}
.modal .text {
  padding: 4em 1.5em;
}
.close {
  color: #ff0000;
  position: absolute;
  right: .5em;
  font-size: 2.5em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #a30c0c;
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.2);
}
section.modal {
  padding: 2em 0em;
}
.modal .container {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

.modal .row {
    display: flex;
    flex-direction: row;
}

.modal .text {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal .text h3 {
  margin: 1.5em 0em;
  color: var(--color);
} 

@media (max-width:601px) {
  .modal-wrapper .row {
    flex-direction: column;
  }
  #myModal {
    width: 100%;
    height: 100%;
  }
  .modal-content {
    height: 100%;
  }
  .modal {
    width: 100%;
  }
  .modal .container .row .text:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid var(--gray-color);
}
}