@media (max-width:1401px) {
    #intro p {
        width: 50%;
    }
    .services .services-cards .card {
        width: 29%;
    }
    .services .services-cards .card h3 {
        margin: 1em;
    }
    .services .why-choose-me div {
        width: 80%;
    }
    .contact {
        width: 80%;
    }
}
@media (max-width:601px) {
    #loading {
        z-index: 12;
    }
    #loading p {
    font-size: 2em;
    }


    .navbar {
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        backdrop-filter: blur(10px);
        border-right: solid 2px #7cfcda2c;
        border-bottom: 0px;
    }
    .navbar-container {
        flex-direction: column;
        position: relative;
        justify-content: center;
    }

    .navbar-left, .navbar-right {
        flex-direction: column;
    }
    .navbar-center {
        position: absolute;
        top: 2.5em;
        left: 2.5em;
    }
    .nav-logo {
        margin: 0em;
    }
    .mobile-logo {
        width: 100%;
        padding: 1em 2.5em;
        display: flex;
        justify-content: space-between;
        position: fixed;
        margin: auto;
        z-index: 11;
        background-color: #171a2e;
        box-shadow: black 0px 10px 20px 2px;
    }
    .mobile-logo .logo, .mobile-logo .hamburger {
        padding: 1em 2em;
    }
    .hamburger {
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        position: relative;
        width: 30px;
        height: 22px;
    }
    
    .hamburger span {
        display: block;
        position: absolute;
        height: 1px;
        background: #ffff;
        border-radius: 4px;
        opacity: 1;
        left: 0;
    }
    .hamburger-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hamburger span:nth-child(1) {
        top: 0px;
        width: 70%;
    }
    
    .hamburger span:nth-child(2) {
        top: 10px;
        width: 40%;
    }
    
    .hamburger span:nth-child(3) {
        top: 20px;
        width: 40%;
    }
    .close-nav {
        display: block;
        position: absolute;
        top: 1.5em;
        left: 11em;
        z-index: 20;
        display: block;
        font-size: 1.5rem;
        color: red;
        background-color: #ff000030;
        padding: .1em 1em;
    }

    
    .hero-half video {
        transform: skewY(20deg);
    }
    .hero-split {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .hero-half h1 {
        margin-bottom: 0em;
        font-size: 2em;
        transform: skewX(20deg);
    }
    .electrician {
        margin-top: -4.2em;
        margin-left: 0em;
    }
    .electrician h1 {
        margin-left: 0em;
        bottom: 0;
        position: absolute;
    }
    .programmer h1 {
        margin-right: 0em;
        top: 0;
        position: absolute;
    }
    .electrician video {
        margin-top: 8em;
        margin-right: 0em;
    }
    .programmer {
        margin-bottom: -4.2em;
        margin-right: 0em;
        border-bottom: none;
    }
    .programmer video {
        margin-bottom: 8em;
        margin-left: 0em;
    }
    .hero-half {
        width: 100%;
        height: 100%;
        border-right: none;
        border-bottom: 2px solid var(--color);
        transform: skewY(-20deg);
    }
    .hero-half:last-child {
        border-bottom: none;
    }
    .hero-half h1 {
        transform: skewY(20deg);
    }
    .hero-info .contact-info {
        justify-content: space-around;
        padding: 0em;
        font-size: .8em;
    }
    .social-icons {
        display: none;
    }
    section {
        padding: 7em 2em;
    }
    #intro p {
        font-size: 1rem;
        width: 100%;
    }


    .btn {
        padding: 10px 50px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .about .content {
        flex-direction: column;
        max-height: none;
    }
    .text-column {
        width: 100%;
        padding: 20px;
        word-wrap: break-word;
    }
    .text-column p {
        font-size: 1rem;
        margin: .8em 0em;
        text-align: justify;
    }
    .image-column img {
        width: 100%;
        border-top: solid 2px var(--color);
        border-left: none;
        border-bottom-left-radius: 3em;
        border-top-right-radius: 0em;
    }
    .image-column {
        width: 100%;
    }

    .info-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .services .services-cards {
        flex-direction: column;
        align-items: center;
        padding: 0em;
    }
    .services .services-cards .card {
        width: 90%;
        text-align: center;
        padding: 4em 0em;
        margin: 3em 0em;
    }
    .services .services-cards .card h3 {
        margin: 1.1em;
        font-size: 1.3rem;
    }
    .services .problem-solving .row {
        margin: 20px 0;
        flex-direction: column;
    }
    .services .problem-solving .row:nth-child(2) {
        flex-direction: column-reverse;
    }
    .services .problem-solving .col {
        width: 100%;
    }
    .services .problem-solving img {
        width: 100%;
    }
    .services .why-choose-me div {
        width: 100%;
    }
    .services .why-choose-me p {
        padding-left: 0em;
        font-size: 2.1rem;
    }
    .services .why-choose-me p .glow-txt {
        font-size: 3rem;
    }
    .services .grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .categories {
        margin: 4em 0em;
        flex-direction: column;
        align-items: center;
    }
    .category-btn {
        margin: 1em 0em;
    }
    .btn-box {
        margin: 2em 0em;
    }



    .client-slide {
        padding: 0px;
        margin: 0px;
        flex-direction: column;
    }
    .client-info {
        margin-left: 0em;
        width: 100%;
    }
    .contact .container {
        flex-direction: column;
        padding: 1em 2.5em;
    }
    .contact {
        width: 100%;
    }
    .form-group {
        width: 100%;
    }

    .blog-container {
        flex-direction: column;
        gap: 20em;
        margin-top: 10em;
    }
    .blog-post {
        gap: 0em;
        flex-direction: column;
    }
    .post-image {
        width: 100%;
        transform: scale(1);
        left: 0em;
        border: none;
    }
    .post-image img {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 0px;
    }
    .post-content {
        width: 100%;
        flex-direction: column;
        padding: 1em;
    }
    .post-buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .post-buttons p {
        margin: 1em 0em;
    }
    .blog-post.reverse-order .post-image {
        order: 1;
        left: 0em !important;
    }
    footer {
        width: 100%;
    }
    .footer-container {
        display: flex;
        justify-content: space-around;
        border-bottom: solid 1px #77ddcc4a;
        flex-direction: column;
    }
    footer .left-column {
        border-bottom: solid 1px #77ddcc4a;
        border-right: none;
        padding: 2em 0em;
    }
    footer .right-column {
        padding: 4em 2em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-separator {
        background-size: 100px 100px;
    }
}