@media (max-width:1401px) {
    #intro p {
        width: 50%;
    }
    .services .services-cards .card {
        width: 29%;
    }
    .services .services-cards .card h3 {
        margin: 1em;
    }
    .services .why-choose-me div {
        width: 80%;
    }
    .contact {
        width: 80%;
    }
}
@media (max-width:601px) {
    .navbar-wrapper {
        display: none;
    }
    #loading {
        z-index: 12;
    }
    #loading p {
    font-size: 2em;
    }
    .hero {
        height: auto;
    }
    .hero-grid {
        grid-template-columns: 100%;
        height: 100%;
    }
    .left-grid {
        padding: 7em 0em;
    }
    .left-grid h1 {
        font-size: 3.5rem;
    }
    .left-grid h2 {
        font-size: 22px;
    }
    .left-grid .hero-p {
        width: 90%;
        padding-top: 5em;
    }
    .hero-info .social-icons {
        display: none;
    }
    #intro h2 {
        font-size: 2rem;
    }
    .video-container {
        display: none;
    }
    .about::before {
        background: none;
    }
    .content {
        flex-direction: column;
        border-top: none;
    }
    .services .image-column {
        border-right: none !important;
        border-left: none !important;
        border-bottom: solid 2px var(--color);
        padding: 2.5em;
        flex-direction: column-reverse;
        border-top: none;
    }
    .services-info .row {
        height: auto;
        flex-direction: column-reverse;
    }
    .services-info .row .column-txt {
        flex-direction: column;
        text-align: justify;
        width: 100%;
    }
    .services-info .row .column-img {
        width: 100%;
        display: flex;
        justify-content: right;
        margin: 3em 0em;
    }
    .services-info .dev-row {
        gap: 60px;
        margin-top: 7em;
    }
    .services-info .dev-row img {
        height: 40px;
    }
    .why-choose-me p {
        font-size: 2rem;
    }
    .why-choose-me .glow-txt {
        font-size: 3rem;
    }
    .why-choose-me .grid {
        grid-template-columns: 100%;
    }
    .contact .row {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .scroll-down {
        display: none;
    }
    .hero-info .contact-info {
        justify-content: space-around;
        padding: 0em;
        font-size: .9rem;
    }
    .contact-info p {
        font-size: .9rem;
    }
    .contact .social-info {
        margin: 2em 0em;
    }
    section {
        padding: 7em 2em;
    }
    #intro p {
        font-size: 1rem;
        width: 100%;
    }


    .btn {
        padding: 10px 50px;
    }

    h1 {
        font-size: 2.5rem;
    }

    .about .content {
        max-height: none;
    }
    .text-column {
        width: 100%;
        padding: 20px;
        word-wrap: break-word;
    }
    .text-column p {
        font-size: 1rem;
        margin: .8em 0em;
        text-align: justify;
    }
    .image-column img {
        width: 100%;
        border-top: solid 2px var(--color);
        border-left: none;
        border-bottom-left-radius: 0em;
        border-top-right-radius: 0em;
    }
    .image-column {
        width: 100%;
    }
    .phone {
        border-top: none !important;
        flex-direction: column-reverse !important;
    }
    .phone .image-column {
        border-right: none;
        border-left: none !important;
        border-bottom: solid 2px var(--color);
        padding: 4em 0em;
    }
    .services .services-cards {
        flex-direction: column;
        align-items: center;
        padding: 0em;
    }
    .services .services-cards .card {
        width: 90%;
        text-align: center;
        padding: 4em 0em;
        margin: 3em 0em;
    }
    .services .services-cards .card h3 {
        margin: 1.1em;
        font-size: 1.3rem;
    }
    .services .problem-solving .row {
        margin: 20px 0;
        flex-direction: column;
    }
    .services .problem-solving .row:nth-child(2) {
        flex-direction: column-reverse;
    }
    .services .problem-solving .col {
        width: 100%;
    }
    .services .problem-solving img {
        width: 100%;
    }
    .services .why-choose-me div {
        width: 100%;
    }
    .services .why-choose-me p {
        padding-left: 0em;
        font-size: 2.1rem;
    }
    .services .why-choose-me p .glow-txt {
        font-size: 3rem;
    }
    .services .grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    .categories {
        margin: 4em 0em;
        flex-direction: column;
        align-items: center;
    }
    .category-btn {
        margin: 1em 0em;
    }
    .btn-box {
        margin: 2em 0em;
    }

    .project-card .project-title {
        font-size: 1.2rem;
    }
    .projects button {
        font-size: 1rem;
    }


    .slider-info {
    padding: 0em 1em !important;

    }

    .slider-info h3 {
    font-size: 30px !important;
    }
    .slider-info p {
    font-size: 16px !important;
    }
    .slider-info a {
    font-size: 16px !important;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 24px !important;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,25px) !important;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,25px) !important;
    }


    .contact .container {
        flex-direction: column;
        padding: 1em 2.5em;
    }
    .contact {
        width: 100%;
    }
    .form-group {
        width: 100%;
    }

    .blog-container {
        flex-direction: column;
        gap: 20em;
        margin-top: 10em;
    }
    .blog-post {
        gap: 0em;
        flex-direction: column;
    }
    .post-image {
        width: 100%;
        transform: scale(1);
        left: 0em;
        border: none;
    }
    .post-image img {
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        border-bottom-left-radius: 0px;
    }
    .post-content {
        width: 100%;
        flex-direction: column;
        padding: 1em;
    }
    .post-buttons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .post-buttons p {
        margin: 1em 0em;
    }
    .blog-post.reverse-order .post-image {
        order: 1;
        left: 0em !important;
    }
    footer {
        width: 100%;
    }
    .footer-container {
        display: flex;
        justify-content: space-around;
        border-bottom: solid 1px #77ddcc4a;
        flex-direction: column;
    }
    footer .left-column {
        border-bottom: solid 1px #77ddcc4a;
        border-right: none;
        padding: 2em 0em;
    }
    footer .social-media {
        margin: 3em;
    }
    footer .right-column {
        padding: 4em 2em;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-separator {
        background-size: 100px 100px;
    }
}