/*#EC6367*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #101826;
    color: #ffffff;
    position: relative;
    overflow-x: hidden;
}
:root {
  --color: #7CFCDA;
  --coloropacity: #7cfcda73;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #101826;
}
::-webkit-scrollbar-thumb {
  background: var(--color);
}
::-webkit-scrollbar-thumb:hover {
  background: #2b6152;
}
::selection {
  color: #101826;
  background: var(--color);
}
.not-scroll {
  overflow-y: hidden;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background: #101826;
  z-index: 11;
}

#loading p {
  font-size: 3em;
  font-weight: 900;
  color: #8d8d8d;
  animation: fade 1s infinite;
  margin: 2em;
}

@keyframes fade {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


section {
  padding: 7em 7em;
}
h1 {
  color: var(--color);
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1em;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 1em 3.5em;
  color: var(--color);
  font-size: 1rem;
  text-decoration: none;
  overflow: hidden;
  transition: .3s;
  font-weight: 800;
  cursor: pointer;
  background-color: #7cfcda18;
  border: solid 2px var(--color);
}
.btn:hover {
  background: var(--color);
  color: #101826;
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color),
              0 0 10px var(--color),
              0 0 20px var(--color),
              0 0 40px var(--color);
}
header {
    width: 100%;
}
/*--------------------------------- Navbar - START -------------------------*/
.navbar {
    width: fit-content;
    padding: 0em 2.5em;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 1em;
    margin: auto;
    background-color: #0c111ba1;
    backdrop-filter: blur(5px);
    z-index: 10;
    box-shadow: black 0px 0px 20px 5px;
    border-bottom: solid 2px #7cfcda2c;
}
.mobile-logo {
  display: none;
}
.navbar-container {
    display: flex;
    justify-content: space-around;
}
.navbar-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.navbar-left, .navbar-right {
    display: flex;
}
.navbar-center {
    align-self: center;
}
.nav-link {
    text-decoration: none;
    color: #ffffff; 
    font-size: 1rem; 
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--color);
  background-color: #7cfcda2c;
}
a.nav-link {
    padding: 1em 2em;
}

.nav-link:last-child {
    margin-right: 0;
}
.nav-logo {
    text-decoration: none;
    color: var(--color);
    font-size: 1.2rem; 
    font-weight: 900;
    margin: 5em;
}
.close-nav {
  display: none;
}
/*--------------------------------- Hero - START -------------------------*/
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-split {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
}

.hero-half {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: var(--color);
  border-right: 2px solid var(--color);
  transform: skewX(-20deg);
}

.hero-half:last-child {
  border-right: none;
}

.hero-half h1 {
  position: relative;
  z-index: 2;
  font-size: 3rem;
  transform: skewX(20deg);
}

.hero-half video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  transform: skewX(20deg);
}

.hero-half::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #101826af;
  z-index: 1;
}
.electrician {
    margin-left: -15em;
    width: 100%;
}
.electrician h1 {
  margin-left: 1em;
}
.programmer {
    margin-right: -15em;
    width: 100%;
}
.programmer h1 {
  margin-right: 4em;
}
.electrician video {
  margin-right: -22em;
}
.programmer video {
  margin-left: -22em;
}
.hero-info {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}

.hero-info .contact-info {
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
  color: #ffffff;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-icons i {
  margin: 1em;
}
.fa-brands, .fab {
    font-size: 1.5em;
}

.social-icons a {
  color: #ffffff;
}
.social-icons a:hover {
  color: var(--color);
}

/*--------------------------------- introduction - START -------------------------*/
#intro {
    text-align: center;
}

#intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 30%;
    margin-top: 4em;
    margin-bottom: 6.5em;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------- about me - START -------------------------*/
.about {
  position: relative;
  background-image: url('../img/mohsine_dev-hero-image.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}
.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(16, 24, 38, 0.6); 
}
.about .content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
  margin: auto;
  background-color: #101826;
  max-height: 70vh;
  border: solid 2px var(--color);
  border-radius: 3em;
}
.text-column {
  width: 70%;
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-column p {
  line-height: 1.7;
  height: fit-content;
  font-size: 1.3rem;
}
.image-column {
  width: 30%;
}
.image-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-left: solid 2px var(--color);
  border-top-right-radius: 3em;
  border-bottom-right-radius: 3em;
}
.about .title {
  position: relative;
  z-index: 1;
}

/*--------------------------------- Services - START -------------------------*/
.services {
  color: #fff;
}

.services .services-cards {
  display: flex;
  justify-content: space-around;
}

.services .services-cards .card {
  width: 23%;
  text-align: center;
  background-color: #0B1320;
  padding: 4em 0em;
  box-shadow: black 0px 0px 20px 3px;
}

.services .services-cards .card img {
  height: 110px;
}
.services .services-cards .card h3 {
  margin: 1.5em;
  color: var(--color);
  font-size: 1.4rem;
}
.services .services-cards .card a {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}


.services .problem-solving .row {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.services .problem-solving .col {
  width: 48%;
  display: flex;
}
.problem-solving {
  margin: 10em 0em;
}
.services .problem-solving img {
  width: 100%;
}
.services .problem-solving .text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.services .problem-solving h3{
  margin: 1.5em 0em;
  font-size: 1.5rem;
  color: var(--color);
}
.services .problem-solving p {
  margin: 0em 0em 2.5em 0em;
}
.services .why-choose-me p {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
}
.why-choose-me .glow-txt {
  position: relative;
  color: #7CFCDA;
  font-size: 3.5rem;
  text-shadow: #7CFCDA 0px 0px 6px;
}

.services .why-choose-me div {
  width: 50%;
  text-align: left;
  margin: auto;
}

.services .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  margin-top: 5em;
}

.services .grid .grid-item {
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}
.grid-item:nth-child(odd) {
  animation: move-left 5s infinite linear alternate;
}

.grid-item:nth-child(even) {
  animation: move-right 5s infinite linear alternate;
}

@keyframes move-left {
  0%, 100% { transform: translateX(-20px); }
  50% { transform: translateX(20px); }
}

@keyframes move-right {
  0%, 100% { transform: translateX(20px); }
  50% { transform: translateX(-20px); }
}
.services .grid .grid-item p {
  text-align: center;
}
.services .grid .grid-item h3 {
  font-size: 1.2rem;
  padding: .5em 1em;
  background-color: #7CFCDA;
  border-radius: 2em;
  color: #101826;
  box-shadow: black 0px 0px 10px 2px;
}
.services .grid .grid-item div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  height: 100%;
  font-size: 20rem;
  font-weight: 900;
  opacity: 5%;
  color: var(--color);
}

.categories {
  margin: 4em;
  display: flex;
  justify-content: center;
}
.category-btn {
  margin: 0em 2em;
}
.category-btn.active {
  background-color: var(--color);
  color: #101826;
  box-shadow: 0 0 2px var(--color),
              0 0 5px var(--color),
              0 0 10px var(--color),
              0 0 20px var(--color);
}

/*.category-btn:not(.active):hover {
  background-color: ;
}*/

/* Project Cards */
.video-background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: skewY(-7deg);
  box-shadow: #000000 0px 0px 40px 5px;
  border-top: solid 1px #7dddc2;
  border-bottom: solid 1px #7dddc2;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.video-content {
  position: relative;
  z-index: 2;
}
.vdoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #101826cf;
  z-index: 1;
}
.work-wrapper {
  position: relative;
  z-index: 5;
  transform: skewY(7deg);
}
.project-card {
  background-color: #0B1320;
  position: relative;
  width: 50vh !important;
  margin: 1em;
  padding: 2em;
  box-shadow: black 0px 0px 15px 5px;
  box-sizing: border-box;
  text-align: center;
}
.slick-list {
  height: fit-content !important;
}
.slick-track {
  display: flex !important;
  justify-content: center;
}
.project-card img {
  width: 100% !important;
}
.project-card .project-title {
  margin: 20px 0;
}
.project-title {
  color: var(--color);
}
.project-card p {
  margin: 0em 0em 1em 0em;
}

/*----------------------------- Clentis feedback - START -------------------------*/
.feedback {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.client-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.client-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.client-info {
  margin-left: 20px;
  width: 40%;
}

.client-name {
  font-size: 1.2em;
  font-weight: bold;
}

.review {
  font-style: italic;
  margin: 10px 0;
}

.project-name, .stars {
  font-size: 1em;
}
.extra-info {
  display: flex;
  justify-content: space-between;
  margin: 2em 0em 0em 0em;
}

.stars {
  color: var(--color);
}

/*------------------- Contact me - START --------------------*/
.contact {
  width: 65%;
  margin: auto;
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2.5em;
  background-color: #0B1320;
  box-shadow: black 0px 0px 20px 5px;
}

.contact .row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2em 0em;
}

.contact .contact-info p, .social-info i {
  margin: 10px;
}
.contact-info i {
  margin-right: 1em;
}
.contact-info p {
  margin: 1em 0em;
  font-weight: 600;
}
.contact .social-info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
form {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5em 0em;
}

.form-group {
  position: relative;
  margin-bottom: 2.5rem;
  width: 48%;
}

.form-group:last-child {
  width: 100%;
}

.form-group input, .form-group textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--color);
  background: transparent;
  padding: 0.5em 0.5em 0.5em 0;
  color: #ffffff;
  font-size: 1.2rem;
  outline: none;
}

.form-group label {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  color: var(--color);
  font-weight: 600;
}

.form-group input:focus, .form-group textarea:focus,
.form-group input:valid, .form-group textarea:valid {
  background: rgba(124, 252, 218, 0.3);
}

.form-group input:focus + label, .form-group textarea:focus + label,
.form-group input:valid + label, .form-group textarea:valid + label {
  transform: translateY(-20px);
  font-size: 0.8em;
  color: var(--color);
}


.blog-container {
  display: flex;
  flex-direction: column;
  gap: 30em;
  margin-top: 15em;
}

.blog-post {
  display: flex;
  border: solid 2px var(--color);
  border-radius: 40px;
}

.post-image {
  width: 40%;
  object-fit: cover;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.post-content {
  width: 60%;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-content h2 {
  color: var(--color);
  margin-bottom: 1em;
}
/* This will alternate the order of the image and content for each post */
.blog-post.reverse-order .post-image {
  order: 2;
}

.blog-post.reverse-order .post-content {
  order: 1;
}

.post-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.post-buttons i {
  margin-left: 1em;
}

.pagination-container {
  margin-top: 15em;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: .5em;
  margin: 0em .8em;
  background-color: transparent;
  border: solid 1px var(--color);
  color: var(--color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: ease .3s;
}
.pagination button:hover {
  background-color: var(--color);
  color: #101826;
}
footer {
  width: 100%;
  position: relative;
  background-color: #0B1320;
  padding: 5em 5em 1.5em 5em;
  box-sizing: border-box;
  border-top: solid 5px var(--color);
  box-shadow: #7cfcda6b 0px 0px 30px 0px;
}
footer .footer-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(../../istabmprototype/images/footer-bg.png);
  opacity: 2%;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #ffffff4a;
}

footer .right-column {
  padding: 2em;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .left-column {
  border-right: solid 1px #ffffff4a;
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  margin-bottom: 1.5em;
}

.quote p {
  font-style: italic; 
  text-align: justify;
  font-size: 1.2rem;
}
footer .social-media {
  text-align: center;
}
.copyright {
  margin-top: 20px;
  font-size: 12px; 
  text-align: center;
}