@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Literata:opsz,wght@7..72,200;7..72,300;7..72,400;7..72,500;7..72,600;7..72,700;7..72,900&display=swap');
/*#EC6367*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--dark-color);
  color: var(--white-color);
  position: relative;
  overflow-x: hidden;
}
:root {
  --dark-color: #1b1f24;
  --dark-overlay-color: rgba(27, 31, 36, 0.5);
  --darker-color: #16191c;
  --semi-dark-color: rgb(36 42 48);
  --color: #7dfcda; /*rgb(124, 252, 218)*/
  --white-color: #C5CAE9;
  --gray-color: rgb(93, 108, 131);
  --accents-color: #fd4e3c;/*#E05858*/
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--dark-color);
}
::-webkit-scrollbar-thumb {
  background: var(--color);
}
::-webkit-scrollbar-thumb:hover {
  background: #2b6152;
}
::selection {
  color: var(--dark-color);
  background: var(--color);
}
.not-scroll {
  overflow-y: hidden;
}
a {
  text-decoration: none;
  color: var(--white-color);
  font-family: var(--text-font);
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

#loading p {
  font-size: 3rem;
  font-weight: 700;
  color: var(--white-color);
  animation: fade 1s infinite;
  font-family: "GT Sectra Fine Bold";
}

@keyframes fade {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
canvas {
  position: absolute;
  bottom: 0;
  right: 0;
}
section {
  padding: 7em 0em;
}
.wrapper {
  padding: 0em 7em;
}
h1 {
  color: var(--color);
  font-size: 3.5rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1em;
  font-family: "GT Sectra Fine Bold";
}
p, a, label {
  font-family: 'Hind', sans-serif;
  /*line-height: 1.75rem;*/
  font-size: 1.125rem;
}
h2, h3, h4 {
  font-family: 'Hind', sans-serif;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 80px;
  cursor: pointer;
  font-size: 1.2rem;
  width: fit-content;
  color: var(--color);
  text-decoration: none;
  overflow: hidden;
  transition: .3s;
  font-weight: 800;
  cursor: pointer;
  background-color: #7cfcda0c;
  border: solid 2px rgba(124, 252, 218, 0.123);
  transform: translate3d(0,0,0);
  box-shadow: 0 0 20px -10px var(--color);
}
.btn:hover {
  background: var(--color);
  color: var(--dark-color);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color),
              0 0 10px var(--color),
              0 0 20px var(--color),
              0 0 40px var(--color);
}
header {
    width: 100%;
}
/*--------------------------------- Navbar - START -------------------------*/
.navbar {
    width: fit-content;
    padding: 0em 2.5em;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 1em;
    margin: auto;
    background-color: var(--dark-overlay-color);
    backdrop-filter: blur(5px);
    z-index: 10;
    box-shadow: black 0px 0px 20px 5px;
    border-bottom: solid 2px #7cfcda2c;
}
.mobile-logo {
  display: none;
}
.navbar-container {
    display: flex;
    justify-content: space-around;
}
.navbar-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}

.navbar-left, .navbar-right {
    display: flex;
}
.navbar-center {
    align-self: center;
}
.nav-link {
    text-decoration: none;
    color: var(--white-color); 
    font-size: 1rem; 
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--color);
  background-color: #7cfcda2c;
}
a.nav-link {
    padding: 1em 2em;
}

.nav-link:last-child {
    margin-right: 0;
}
.nav-logo {
    text-decoration: none;
    color: var(--color);
    font-size: 1.2rem; 
    font-weight: 900;
    margin: 5em;
}
.close-nav {
  display: none;
}
/*--------------------------------- Hero - START -------------------------*/
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
/*.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 31, 36, 0.486); 
}*/



.hero-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100%;
}
.right-grid {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}




.left-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100%;
  width: 100%;
  padding: 1em;
}
.hero-h {
  margin-bottom: 4em;
}
.hero-h h1 {
  margin-bottom: .5em
}
.hero-p {
  margin-bottom: 4em;
}
.left-grid h1 {
  font-size: 4rem;
}
.left-grid h1, .left-grid h2 {
  text-align: center;
}
.left-grid h2 {
  font-size: 26px;
}
.left-grid .hero-p {
  width: 60%;
}
.left-grid .hero-p span {
  font-size: 20px;
}

.scroll {
  width: 60px;
  height: 60px;
  border: 2px solid var(--color);
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
}
.scroll::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 18px;
  width: 18px;
  height: 18px;
  border-left: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
  transform: rotate(-45deg);
}
@keyframes down {
  0% {
    transform: translate(0);
 }
  20% {
    transform: translateY(15px);
 }
  40% {
    transform: translate(0);
 }
}
@-webkit-keyframes down {
  0% {
    transform: translate(0);
 }
  20% {
    transform: translateY(15px);
 }
  40% {
    transform: translate(0);
 }
}

.hero-info {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  color: var(--white-color);
  z-index: 1;
}

.hero-info .contact-info {
  display: flex;
  justify-content: space-between;
  padding: 0 5em;
  color: var(--white-color);
}
.hero-info .contact-info img, .social-media .social-icons img, .contact .social-icons img  {
  height: 30px;
  margin: 0px 10px;
}

/*--------------------------------- introduction - START -------------------------*/
#intro {
    text-align: center;
    position: relative;
}

#intro h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "GT Sectra Fine Bold";
}

#intro p {
    font-size: 1rem;
    line-height: 1.5rem;
    width: 30%;
    margin-top: 4em;
    margin-bottom: 6.5em;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------- about me - START -------------------------*/
.about {
  position: relative;
  color: var(--white-color);
}
.about::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, var(--dark-color) 100%);
}
.about::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, transparent -100%, var(--dark-color));
}
.content-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, var(--dark-color) 100%);

}

.about .content {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 20px 5px rgb(124 252 218 / 10%);
  margin: auto;
  max-height: 70vh;
  border: solid 2px var(--color);
}

.video-background {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.about .content h1 {
  font-size: 2.5rem;
  margin-bottom: 0em;
}
.text-column {
  width: 70%;
  padding: 2em 5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-column p {
  line-height: 1.7;
  height: fit-content;
  font-size: 1.3rem;
}
.image-column {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-left: solid 2px var(--color);
  border-top-right-radius: 3em;
}
.about .title {
  position: relative;
  z-index: 1;
}


/*--------------------------------- Services - START -------------------------*/
.services {
  color: var(--white-color);
}
.services h1 {
  color: var(--dark-color);
  transform: skewY(-5deg);
}

.bodytwo {
  background-color: #C5CAE9;
  padding: 4em 7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: skewY(5deg);
}
#services {
  padding: 7em 0em !important;
}
#services .container {
  padding: 0em 7em;
}
.services .services-cards {
  display: flex;
  justify-content: space-between;
  padding: 7em 0em;
  width: 100%;
  transform: skewY(-5deg);
}

.services .card {
  width: 25%;
  text-align: center;
  background-color: #b2b6cf;
  padding: 4em 0em;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 3px;
  border: solid 1px #acacac;
  transition: border .5s ease-in-out;
  transition: background-color .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transform: scale(0px);
}
.services .card:hover {
  border: solid 1px var(--accents-color);
  background-color: #454f5f13;
  transform: scale(1.01);
}

.services .card img {
  height: 110px;
}
.services .card h3 {
  margin: 1.5em 1.5em 0em 1.5em;
  color: var(--dark-color);
  font-size: 1.4rem;
}
.services .card a {
  color: var(--white-color);
  text-decoration: underline;
  cursor: pointer;
}


.services-info {
  margin: 2em 0em;
}
.services-info .row {
  display: flex;
  height: 70vh;
}
.services-info .row .column-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  text-align: center;
  width: 50%;
}
.services-info .row .column-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.services-info .row .column-img img {
  width: 70%;
}
.services-info .dev-row img {
  height: 60px;
}
.services-info .dev-row {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-bottom: 7em;
}

.dev-row p {
  font-size: 2em;
  font-weight: 500;
}

.explain {
  display: flex;
  justify-content: center;
  padding: 3em 7em;

}
.explain div {
  width: 100%;
  text-align: center;
  padding: 3em 0em;
}
.explain img {
  width: 80%;
}

.reverse {
  flex-direction: row-reverse;
  justify-content: left !important;
}

.services-info h2 {
  font-size: 28px;
}
.why-choose-me {
  transform: skewY(-5deg);
  background-color: #C5CAE9;
}
.why-choose-me p {
  font-size: 2.5rem;
  font-weight: 900;
  text-align: center;
  color: #101826;
}
.why-choose-me .glow-txt {
  position: relative;
  color: var(--accents-color);
  font-size: 3.5rem;
  text-shadow: var(--accents-color) 0px 0px 6px;
}

.why-choose-me .wrapper {
  text-align: left;
  margin: auto;
  transform: skewY(5deg);
}

.why-choose-me .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  margin-top: 5em;
}

.why-choose-me .grid .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  margin: 2em 0em;
}

.why-choose-me .grid .grid-item h3 {
  font-size: 1.2rem;
  padding: 1em 1em;
  background-color: var(--dark-color);
  border-radius: 5px;
  color: var(--white-color);
  box-shadow: black 0px 0px 10px 2px;
}

.categories {
  margin: 4em;
  display: flex;
  justify-content: center;
}
.category-btn {
  margin: 0em 2em;
}
.category-btn.active {
  background-color: var(--color);
  color: var(--dark-color);
  box-shadow: 0 0 2px var(--color),
              0 0 5px var(--color),
              0 0 10px var(--color),
              0 0 20px var(--color);
}

/*.category-btn:not(.active):hover {
  background-color: ;
}*/

/* Project Cards */
.projects {
  padding: 7em 0em;
  text-align: center;
}
.work-wrapper {
  position: relative;
  z-index: 5;
}
/* Slider Container */
.swiper {
  width: 100%;
  height: 90vh;
}

/* Navigation Buttons */
.active {
  background: var(--color);
  color: var(--dark-color);
  border-radius: 5px;
  box-shadow: 0 0 1px var(--color),
              0 0 2px var(--color),
              0 0 7px var(--color),
              0 0 20px var(--color);
}
.projects .btn {
  margin: 1em;
  z-index: 10;
}
.swiper img {
  position: relative;
  height: 100%;
  display: block;
  width: 100%;
  object-fit: cover;
}
.slider-info {
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white-color);
  padding: 1.5em 7em;
  z-index: 30;
  text-align: left;
}

.slider-info h3 {
  font-size: 50px !important;
  font-family: "GT Sectra Fine Bold";
}
.slider-info p {
  font-size: 26px !important;
}
.slider-info a {
  text-decoration: underline;
  color: var(--accents-color);
  font-size: 20px;
  font-weight: 700;
  padding: 1em 0em;
  display: block;
}
.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 36px !important;
  font-weight: 900;
  color: var(--white-color);
  padding: .8em;
  border-radius: 50%;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset,50px) !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset,50px) !important;
}

.swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, transparent 0%, var(--dark-color));
  z-index: 5;
}
.swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 50% , var(--dark-color) 100%);
  z-index: 5;
}

.swiper-button-next, .swiper-button-prev {
  z-index: 6 !important;
}
/*----------------------------- Clentis feedback - START -------------------------*/

/*------------------- Contact me - START --------------------*/
.contact {
  width: 65%;
  margin: auto;
  padding-bottom: 18em !important;
  position: relative;
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 2.5em;
  background-color: var(--darker-color);
  box-shadow: black 0px 0px 20px 5px;
}

.contact .row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 2em 0em;
}

.contact .contact-info p {
  margin: 10px;
}
.contact-info img {
  margin-right: 1em;
}
.contact-info p {
  margin: 1em 0em;
  font-weight: 600;
  text-shadow: 0px 0px 10px black;
}
.contact .social-info {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
form {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2.5em 0em;
}

.form-group {
  position: relative;
  margin-bottom: 2.5rem;
  width: 48%;
}

.form-group:last-child {
  width: 100%;
}

.form-group input, .form-group textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--color);
  background: transparent;
  padding: 5px 10px;
  color: var(--white-color);
  font-size: 1.2rem;
  outline: none;
  font-family: 'Hind', sans-serif;
}

.form-group label {
  position: absolute;
  top: 20px;
  left: 0;
  transition: 0.5s;
  color: var(--color);
  font-weight: 600;
  font-size: 0.9rem;
}

.form-group input:focus, .form-group textarea:focus,
.form-group input:valid, .form-group textarea:valid {
  background: rgba(124, 252, 218, 0.3);
}

.form-group input:focus + label, .form-group textarea:focus + label,
.form-group input:valid + label, .form-group textarea:valid + label {
  transform: translateY(-40px);
  font-size: 0.8em;
  color: var(--color);
}


.page-count {
  padding: 2em 0em;
  font-size: 1.2rem;
}
.page-count span {
  margin: 0em 1em;
  font-size: 1.5rem;
  color: var(--color);
}
.blog-container {
  display: flex;
  row-gap: 10em;
  margin-top: 5em;
  flex-direction: column;
}

.blog-post {
  display: flex;
  height: 80vh;
}

.post-content {
  width: 60%;
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-content h2 {
  color: var(--color);
  margin-bottom: 1em;
}
.blog-post.reverse-order .post-image {
  order: 2;
}

.blog-post.reverse-order .post-content {
  order: 1;
}

.post-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3em 0em;
}

.post-buttons img {
  margin-left: 1em;
}

.read-btn {
  color: var(--white-color);
  text-decoration: underline;
  cursor: pointer;
}

.pagination-container {
  margin-top: 15em;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: .5em;
  margin: 0em .8em;
  background-color: transparent;
  border: solid 1px var(--color);
  color: var(--color);
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  transition: ease .3s;
}
.pagination button:hover {
  background-color: var(--color);
  color: #101826;
}
footer {
  width: 100%;
  position: relative;
  background-color: var(--darker-color);
  box-sizing: border-box;
  border-top: solid 5px var(--color);
  box-shadow: #7cfcda6b 0px 0px 30px 0px;
}
footer .footer-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/footer-bg.png);
  opacity: 2%;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  border-bottom: solid 1px #ffffff17;
  position: relative;
  z-index: 1;
}

footer .right-column {
  padding: 2em;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .left-column {
  border-right: solid 1px #ffffff17;
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .logo {
  margin-bottom: 1.5em;
}

.quote p {
  font-style: italic; 
  text-align: justify;
  font-size: 1.2rem;
}
footer .social-media {
  text-align: center;
}
.copyright {
  margin-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem; 
  text-align: center;
}
.section-separator {
  height: 25px;
  background: linear-gradient(45deg, var(--accents-color) 25%, transparent 25%, transparent 50%, var(--accents-color) 50%, var(--accents-color) 75%, transparent 75%, transparent), linear-gradient(45deg, var(--accents-color) 25%, transparent 25%, transparent 50%, var(--accents-color) 50%, var(--accents-color) 75%, transparent 75%, transparent), rgb(124, 252, 218);
  background-size: 300px 300px;
  background-position: 0 0, 25px 25px;
}

/* --------------  404 page -----------*/
.error-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-content {
  width: 60%;
  text-align: center;
}
.title {
  font-size: 72px;
  color: var(--color);
}
.subtitle {
  font-size: 36px;
  color: var(--accents-color);
}
.error-content .description {
  font-size: 18px;
  color: var(--white-color);
  margin: 40px auto;
}

#insights .card-container {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}

#insights .card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  max-height: 100vh;
  border: solid 1px #7dfcda0a;
  transition: transform .2s ease-in-out ;
}
#insights .card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  border: solid 1px #7dfcda34;
  transform: scale(1.01);
}

#insights .card img {
  width: 100%;
  height: 60vh;
  display: block;
}

#insights .card-content {
  padding: 15px;
}

#insights .category {
  text-transform: uppercase;
  font-size: 12px;
  color: var(--accents-color);
  margin-bottom: 10px;
}
#insights .description {
  font-size: 14px;
}

.explain-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2em;
}
.explain-card {
  width: 40vw;
  height: 50vh;
  margin: 2em 0em;
  position: relative;
  border: solid 3px var(--color);
}
.explain-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.explain-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color);
  opacity: 0.3;
}